@page "/authors/overview"

<p>
    <button class="btn btn-primary" @onclick="NavigateToAuthorNew"><i class="bi bi-plus-circle"></i> Neuer Autor</button>
</p>

@if (AuthorsVm is null || !AuthorsVm.Any())
{
    <div>Daten werden geladen...</div>
}
else
{
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Photo</th>
                <th>Name</th>
                <th>Beschreibung</th>
                <th>Geburtsdatum</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in AuthorsVm)
            {
                <AuthorItem OnAuthorDeleteCallback="DeleteAuthor" AuthorVm="@item"></AuthorItem>
            }
        </tbody>
    </table>
}


@code {

}
