@page "/authors/new"

<div class="row align-items-center">
    <div class="col-6">
        
        <EditForm Model="AuthorForCreateVm">
            
            <div class="form-floating mb-3">

            </div>

        </EditForm>

    </div>
</div>